* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e3e3e3;
}
button {
    background-color: blueviolet;
    padding: 20px 40px;
    margin: 50px;
    color: white;
    font-size:25px;
    border-radius: 25px;
    user-select: none;
    border: none;
}
button:hover {
    opacity: 0.75;
    cursor: pointer;
}
button:active {
    transform:translateY(2px);
}